<div class="col-xs-12">
    <div class="media-left">
        <img src="{{candidato.Foto}}" alt="Candidato" class="img-circle" width="90" height="90">
    </div>
    <div class="media-body">
        <div class="list-group">
            <a href="" class="list-group-item active">
                <h4 class="list-group-item-heading">{{candidato.NomeCompleto}}</h4>
                <p class="list-group-item-text">{{candidato.Cargo}}</p>
                <p class="list-group-item-text">{{candidato.PartidoSigla}} - {{candidato.PartidoDescricao}}</p>
            </a>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <ul class="tabs">
        <a href="#" ng-click="styleBensDeclarado={'display':'none'}; styleDadosPessoais={'display':'inline'}; tabEstiloDadosPessoais='current'; tabEstiloBens=''">
            <li ng-class="tabEstiloDadosPessoais">Dados Pessoais</li>
        </a>
        <a href="#" ng-click="styleBensDeclarado={'display':'inline'}; styleDadosPessoais={'display':'none'}; tabEstiloDadosPessoais=''; tabEstiloBens='current'">
            <li ng-class="tabEstiloBens">Bens Declarados</li>
        </a>
    </ul>
    <div class="col-sx-6"></div>
</div>

<div class="col-xs-12">

    <div id="tab-1" class="tb-content" ng-style="styleDadosPessoais">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>COLIGAÇÃO:</th>
                    <td>{{candidato.PartidoColigacao}}</td>
                </tr>
                <tr>
                    <th>NASCIMENTO:</th>
                    <td>{{candidato.DataNascimento | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <th>ESTADO CIVIL:</th>
                    <td>{{candidato.EstadoCivil}}</td>
                </tr>
                <tr>
                    <th>ESCOLARIDADE:</th>
                    <td>{{candidato.Escolaridade}}</td>
                </tr>
                <tr>
                    <th>OCUPAÇÃO:</th>
                    <td>{{candidato.Ocupacao}}</td>
                </tr>
                <tr>
                    <th>NASCIONALIDADE:</th>
                    <td>{{candidato.Nacionalidade}}</td>
                </tr>
                <tr>
                    <th>MUNICÍPIO:</th>
                    <td>{{candidato.Municipio}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="tab-2" class="tb-content" ng-style="styleBensDeclarado" style="display:none;">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
                <tr ng-repeat="bens in BensCandidato">
                    <td>{{bens.Descricao}}</td>
                    <td>{{bens.Valor}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="col-xs-12">
    <ul class="tabs">
        <li class="tab-link"></li>
        <li class="tab-link"></li>
    </ul>
    <div class="col-sx-6"></div>
</div>