<div class="col-xs-12">

    <div class="col-xs-12">
       
        <div class="col-xs-12">

            <div class="form-group">
                <input name="nome" ng-model="nomeCandidato" class="form-control input-lg" type="text" required placeholder="Nome do Candidato">
            </div>

        </div>
        
    </div>

    <div class="col-xs-12">       
        
        <div class="col-xs-12">
            <span style="color:red" ng-show="myForm.nome.$error.required">* Nome é Obrigatório!</span>
        </div>

    </div>

    <div class="col-xs-12">
        <br>
        <div class="col-xs-12">
            <button class="btn-lg btn-primary" ng-click="goLista()" ng-disabled="((myForm.nome.$error.required ? true : false)) ">Pesquisar</button>
        </div>
    </div>
    
</div>